header#main-header{
    width: 100%;
    height: 60px;
    background: #44475a;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    padding-right: 20px;
    height: 40px;
}


